<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <table style="width: 100%;">
    <tr>
      <td style="width: 5%;">Export Session</td>
      <td style="width: 1%;">:</td>
      <td>#{{ session.id }}: {{ session.description }}</td>
    </tr>
    <tr>
      <td>Content Type</td>
      <td>:</td>
      <td>{{ session.ct_label }}</td>
    </tr>
    <tr>
      <td>Queue</td>
      <td>:</td>
      <td>#{{ queue.id }}</td>
    </tr>
  </table>
  <br>
  Please check attached below.
  <br><br><br><br>
  ESL(NZ) Limited
  </body>
</html>
